.main {
  padding-top: 25px;
}

.details {
  position: absolute;
  width: 296px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: #a49c79;
  padding: 10px;
  font-size: 13px;
}

.details img {
  font-size: 11px;
}

.mainData {
  display: flex;
}

.pokeName {
  margin-left: 10px;
}

.img {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  border: 2px solid #40453b;
  border-radius: 25px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.types {
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
}

.box {
  background-color: #b8b4a2;
  border: 2px solid #40453b;
  border-radius: 5px;
  padding: 3px 3px 3px 0px;
  width: fit-content;
}

.box img {
  margin-left: 3px;
}

.relatedTypes {
  display: flex;
  font-size: 11px;
  padding-top: 10px;
  justify-content: space-between;
}

.weak {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
  font-size: 10px;
}

.typeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  padding: 0px 3px 3px 0px;
}

.typeContainer img {
  margin-top: 3px;
  font-size: 9px;
}

.stats {
  font-size: 11px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statData {
  padding-left: 3px;
  margin-top: 2px;
  list-style-position: inside;
}

.help {
  position: absolute;
  background-color: #a49c79;
  width: 328px;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 15px;
  border: 3px solid #6b5b40;
  padding: 4px;
  font-size: 8.6px;
  letter-spacing: 0.3px;
}

.help .p {
  margin-top: 5px;
}

.help b {
  color: rgb(125, 255, 20);
}

.help a {
  color: cyan;
}

.help code {
  color: blue;
}

.help .rest {
  margin-left: 62px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border: none;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}

.close p {
  position: relative;
  top: 3px;
}

.search {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.search input {
  border: 2px solid #6e5c40;
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  border-radius: 15px;
  padding: 3px;
  margin-right: 10px;
  text-align: center;
}

.search button {
  border: 2px solid #6e5c40;
  background-color: white;
  height: 24px;
  width: 24px;
  font-size: 15px;
  padding: 3px 2px 2px 2px;
  border-radius: 100%;
  cursor: pointer;
}

.completed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

.cards {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 7px;
  height: inherit;
  width: 742px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 9px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  overflow-x: hidden;
  padding: 3px;
  scrollbar-width: none;
  border-radius: 15px;
  transition: transform 0.1s;
  perspective: 1000px;
  background-color: rgba(157, 153, 138, 0.89);
  transition: background-color 0.2s;
}

.card:hover {
  background-color: rgba(137, 133, 118, 1);
}

.card p {
  max-width: 100%;
  word-wrap: break-word;
}

.card img {
  color: red;
  max-width: 95%;
}

.arrows {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
}

.arrows p {
  font-size: 10px;
  margin: 0px 5px 0px 5px;
  display: flex;
}

.arrows span {
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}
